<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Carreras</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="./carrera.css">
    <link rel="stylesheet" href="/hamburgesa.css">
    

</head>

<body>
      <!-- -------------menu-hamburgesa------------ -->
      <section class="padre">
        <input type="checkbox" id="menu-toggle" class="menu-checkbox" />
        <label for="menu-toggle" class="menu">
          <i class="bi bi-list"></i>
        </label>
        <div class="hijo">
          <a href="/index.html">Inicio</a>
          <a href="./components/carreras/carreras.html">Carreras</a>
          <a href="../noticias/noticias.html">Noticias</a>
          <a href="../contactanos/contactanos.html">Contactanos</a>
          <a href="#">Intranet</a>
        </div>
      </section>
    <main class="main">
        <!--banner-->
        <div class="banner">
            <img src="./jesus/banner de diseño.jpg" alt="banner">
        </div>
        <!--elementos-->
        <section class="content_padre">
            <div class="panel">
                <!-- panel 1 -->
                <div class="sub_panel">

                    <div class="panel_texto">
                        <h1>¿te gusta diseño y programacion web?</h1>
                        <p>
                            El diseño y la programación web son disciplinas emocionantes que combinan creatividad y
                            lógica. Si disfrutas de crear, resolver problemas y dar vida a ideas a través de la
                            tecnología, este campo es ideal para ti. Aquí podrás transformar tu imaginación en
                            experiencias digitales únicas que impacten a usuarios de todo el mundo
                        </p>
                    </div>
                    <div class="sub_panel_imagen">
                        <img src="./jesus/1diseño.png" alt="">
                    </div>
                </div>
                <!-- panel 2 -->
                <div class="sub_panel">

                    <div class="sub_panel_imagen">
                        <img src="./jesus/3diseño.png" alt="">
                    </div>

                    <div class="panel_texto">
                        <h1>¿porque es una buena opcio diseño y programacion web?</h1>
                        <p>
                            En la era digital, el diseño y la programación web son habilidades altamente demandadas.
                            Este sector ofrece oportunidades laborales en diversas industrias, además de la posibilidad
                            de trabajar de manera remota o emprender tu propio negocio. Además, desarrollar sitios web
                            te permite combinar el arte y la tecnología, creando soluciones innovadoras que mejoran la
                            vida de las personas.
                        </p>
                    </div>
                </div>
                <!-- panel 3 -->
                <div class="sub_panel">

                    <div class="panel_texto">
                        <h1>¿que aprenderas en diseño y programacion web?</h1>
                        <p>
                            Desarrolla una base sólida:
                            Fundamentos de programación:
                            Diseño web:
                            Diseño gráfico:

                            Especialízate en un área:
                            Desarrollo Front-End:
                            Desarrollo Back-End:
                            Marketing Digital:

                            Construye un portafolio sólido:
                            Proyectos:
                            Casos de estudio:
                            Presencia online:

                            Desarrolla habilidades blandas:
                            Comunicación:
                            Trabajo en equipo:
                            Resolución de problemas:
                            Adaptabilidad:
                        </p>
                    </div>

                    <div class="sub_panel_imagen">
                        <img src="./jesus/2diseño.png" alt="">
                    </div>
                    
                </div>
            </div>
        </section>

    </main>
    <!--pie de pagina-->
    <footer class="footer">
        <p>&copy; 2024 Todos los derechos reservados</p>
    </footer>
</body>

</html>