:root {
  --color-marron: #1f1a1b;
  --color-ladrillo: #df692b;
  --color-verdeladrillo: #69785a;
  --font-sise: 30px;
  --font-letra-titulo: "Oxanium", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100%; /* altura del banner */
  margin-bottom: -10px;
}

.banner img {
  max-width: 100%;
  /* height: auto; */
}

.main {
  max-width: 100%;
  /* border: solid rebeccapurple; */
}

/*elementos*/


/*panel*/
.panel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  margin: 0;
  gap: 10px;
  height: auto;
}
/*sub panel*/
.sub_panel {
  background-color: #e7fdf6;
  display: flex;
  justify-content: space-around;
  padding: 60px;
  margin-top: -10px;
  /* border: solid red; */
}
/*sub panel de texto*/
.panel_texto {
  padding: 60px ;
  width: 800px;
  text-align: left;
  line-height: 40px;
  /* border: solid red; */
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.276);
  transition: transform 0.2s ease, box-shadow 0.3s ease; /* Transición suave */
}
.panel_texto:hover{
    transform: translateY(-15px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.panel_texto p {
  padding-top: 40px;
  font-size: 18px; /* Ajusta el tamaño de la fuente */
  color: var(--color-marron);
  
}

.panel_texto h1 {
  background-color: transparent;
  font-size: 40px;
  color: #000;
  height: 80px;
  text-align: center;
}

/*sub panel imagen*/
.sub_panel_imagen {
    /* border: solid; */
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content:space-around; /* Alinea horizontalmente a la derecha */
}

.sub_panel_imagen img {
  max-width: 400px;
  height: auto;
  /* border: solid; */
}

/* -----------responsi---470px-------- */
@media screen and (  max-width:770px) {

  .panel_texto {
      border: solid;
      width: 60%; 
      height: 30%; 
  }
  .panel_texto h1{
    font-size: 20px;
    /* border: solid rebeccapurple; */
    width: 200px;
    line-height: 30px;
  }
  .panel_texto p{
    font-size: 13px;
    line-height: 30px;
  }
  .sub_panel_imagen img{
    max-width: 100%;
    height: 60%;
    
    border: solid rebeccapurple;
  }
  
  }