* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Contenedor principal */
.main-container {
  max-width: 100%;
  height: auto;
  animation: carrucel 9s infinite alternate ease-in;
}

/* Contenedor del carrusel */
.sub-container {
  display: flex;
  width: 400%; /* Cuatro imágenes, cada una ocupa 25% */

}

/* Cada contenedor de imagen */
.container {
  width: 100%;
  position: relative;
}

/* Estilo para las imágenes */
.container img {
  width: 100%; /* Asegura que la imagen ocupe el 100% de su contenedor */
  height: 600px; /* Ajusta la altura según sea necesario */
}

/* Animación del carrusel */
@keyframes carrucel {
  0%,
  20% {
      margin-left: 0%; /* Muestra la primera imagen */
  }
  25%,
  45% {
      margin-left: -100%; /* Muestra la segunda imagen */
  }
  50%,
  70% {
      margin-left: -200%; /* Muestra la tercera imagen */
  }
  75%,
  100% {
      margin-left: -300%; /* Muestra la cuarta imagen */
  }
  
}

/* Aplicando la animación al contenedor del carrusel */
.main-container {
  animation: carrucel 9s infinite alternate ease-in;
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 750px) {
  .container img {
      max-height: 180px;
  }
}
