:root {
  --color-marron: #b2904b;
  --color-ladrillo: #df692b;
  --color-verdeladrillo: #69785a;
  --font-pequeña:24px;
  --font-letra-titulo:"Oxanium", serif;
  --font-letra-contenido:"Poppins", serif;

}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
  

/* --------row----------- */

.container-row {
  /* border: solid; */
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  background: rgb(169, 245, 246);
  background: linear-gradient(
    180deg,
    rgba(169, 245, 246, 1) 0%,
    rgb(94, 198, 230) 100%
  );
}
.row {
  /* border: solid yellow; */
  background: rgb(122, 234, 236);
  background: linear-gradient(
    180deg,
    rgba(122, 234, 236, 1) 0%,
    rgb(247, 244, 238) 100%
  );
  text-align: center;
  text-align: justify;
  padding: 30px 40px 40px 30px;
  border-radius: 20px;
  border: solid rgba(0, 183, 255, 0.212);
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.row:hover {
  border-bottom: solid rgba(11, 86, 121, 0.356) 10px;
  border-right: solid rgba(25, 26, 94, 0.39) 10px;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  padding: 20px;
}

.row h2 {
  border-bottom: solid;
  text-align: center;
  width: 90%;
}
.row p {
  margin-top: 20px;
}
.row P:hover {
  color: blueviolet;
}

.row h2:hover {
  color: blue;
}

/* ----------img----------- */
.row img {
  width: 200px;
  height: 200px;
  border-radius: 20px;

  /* border: solid rgb(15, 109, 231); */
}
.mesi {
  display: flex;
  flex-direction: column;
}

